#header {
	background: #FFFFFF;
}

html, body {
    height: 100%;
}

body {
	font-family: Verdana;
	background-color: rgb(226, 226, 226);
	font-size: 14px;
}
h2 {
	text-transform: uppercase;
}


/* Navbar */

.navbar {
	background-color: rgb(188, 16, 14);
}

#header > nav {
	height: 50px;
}

.navbar-nav .nav-link {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
}

.dropdown-menu { 
	font-size: 14px;
}

.nav-link  {
	color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: rgb(225, 225, 225);
}

.navbar-brand {
	text-transform: uppercase;
}


/* Für den großen container*/

#containerBody {
	min-height: 100%;
	background: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	overflow: auto;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* für die Dropdows Rangliste, Statistik, Tabelle */

.custom-select {
	width: 250px;
}