html, body {
    height: 100%;
    font-size: 13px;
    padding-top: 28px; 
}

/* Navbar */
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu { 
	font-size: 11px;
}

.navbar-nav .nav-link {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 15px;
}

/* Sidebar */
.sidebar-fixed {
    width: 200px;
    position: fixed;
}
    
.container-fluid {
	padding-top: 15px;
	padding-bottom: 30px;
}

/* main */

.main-content {
	margin-left: 230px;
}

