html, body {
    height: 100%;
    font-size: 13px;
}

/* Navbar */
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu { 
	font-size: 11px;
}

.navbar-nav .nav-link {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 15px;
}

/* Sidebar */
@media (min-width: 576px) {
    .sidebar {
        max-width: 280px;
    }
}

.container-fluid {
	padding-top: 15px;
	padding-bottom: 30px;
}
