.neues-team-button {
	padding-bottom: 15px;
}

.gesamte-nachricht {
	padding-top: 10px;
}

.nachrichten-button {
	padding: 0px;
}

.nachricht {
	padding-top: 5px;
}

.antworten-btn {
	padding-right: 25px;
}