<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/css/benachrichtigungen.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="main">
				<div class="pl-3 pt-3 pb-2 mb-3 border-bottom">
					<h1 class="">Benachrichtigungen</h1>
				</div>
				<div class="col">
					<div class="card mt-2" th:each="benachrichtigung : ${alleBenachrichtigungenDesAktuellenUsers}">
						<div class="card-header bg-danger" th:id="'card-header-'+${benachrichtigung.id}" onclick="oeffneBenachrichtigung(this.id)" th:unless="${benachrichtigung.gelesen}">
							<div class="row h-100">
								<div class="col-4">
									<div>
										<strong><span>Von:</span></strong>
										<span class="pr-4" th:text="${benachrichtigung.absender.name}+' (Liga: '+${benachrichtigung.absender.liga.ligaNameTyp.name}+')'"></span>
									</div>
									<div>
										<strong><span>An:</span></strong>
										<span th:text="${benachrichtigung.empfaenger.name}+' (Liga: '+${benachrichtigung.empfaenger.liga.ligaNameTyp.name}+')'"></span>
									</div>
								</div>
								<div class="col-5 my-auto">
									<strong><span th:text="'Betreff: '+${benachrichtigung.benachrichtungsTyp.bezeichnung}"></span></strong>
								</div>
								<div class="col-3 text-right">
									<div>
										<span th:text="${benachrichtigung.spieltag.spieltagNummer}+'. Spieltag'"></span>
									</div>
									<div>
										<span th:text="'Uhrzeit: '+${benachrichtigung.uhrzeit}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body" th:id="'card-body-'+${benachrichtigung.id}">
							<p th:text="${benachrichtigung.benachrichtigungsText}"></p>
						</div>
						<div class="card-header bg-success" th:id="'card-header-'+${benachrichtigung.id}" onclick="oeffneBenachrichtigung(this.id)" th:if="${benachrichtigung.gelesen}">
							<div class="row align-self-center">
								<div class="col-4">
									<div>
										<strong><span>Von:</span></strong>
										<span class="pr-4">asdasdasd</span>
									</div>
									<div>
										<strong><span>An:</span></strong>
										<span>Absender</span>
									</div>
								</div>
								<div class="col-5">
									<strong><span>Freundschaftsspielanfrage Alle-Alle</span></strong>
								</div>
								<div class="col-3 text-right">
									<span>14. Spieltag</span>
									<span>14:35</span>
								</div>
							</div>
						</div>
						<div class="card-body collapse" th:id="'card-body-'+${benachrichtigung.id}">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts"></th:block>
	<script>
		function oeffneBenachrichtigung(id) {
			var bereinigteId = id.replace("card-header-", "");
			var zielId = "card-body-"+bereinigteId
			if(document.getElementById(zielId).className == "card-body") {
				document.getElementById(zielId).className = "card-body collapse";
			} else {
				document.getElementById(zielId).className = "card-body";
			}
		}
	</script>
</body>
</html>