<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/nachrichten.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="col-lg-10 main-content">
				<div class="row">
					<div class="col-lg-11">
						<div class="row" >
							<div class="col-5"></div>
							<div class="col-3" th:insert="fragments/aktuelleteamanzeige :: aktuelleteamanzeige"></div>
						</div>
					</div>
					<div class="col-lg-11 main">
						<hr>
						<h4>Nachrichten</h4>
						<div class="row">
							<div class="col-auto">
								<form action="#" th:action="@{/nachrichten/auswahl}" th:object="${nachrichtenTyp}" method="post">
									<select class="custom-select" th:field="*{nachrichtTyp}" onchange="this.form.submit();">
										<option th:value="${null}">Alle</option>
										<option 
											  th:each="nachrichtTyp : ${alleNachrichtenTypen}" 
											  th:text="${nachrichtTyp.bezeichnung}"
											  th:value="${nachrichtTyp}">
										</option>
									</select>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col">
							nachricht schreiben
							</div>
						</div>
						<div class="row">
							<div class="col">
								<table class="table table-hover">
									<thead>
										<tr class="table-active">
											<th scope="col">#</th>
											<th scope="col">Absender</th>
											<th scope="col">Betreff</th>
											<th scope="col">Spieltag</th>
											<th scope="col">Uhrzeit</th>
											<th scope="col">gelesen</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tr class="" th:each="nachricht, stat : ${alleNachrichtenEinesUsers}">
										<td th:text="${stat.index+1}" />
										<td th:text="${nachricht.absender.name}" />
										<td th:text="${nachricht.betreff.name}" />
										<td th:text="${nachricht.spieltag.spieltagNummer}" />
										<td th:text="${nachricht.uhrzeit}" />
										<td th:text="${nachricht.gelesen}" />
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts" />
</body>
</html>