<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/sekretariat.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="col-10 main-content">
				<div class="row">
					<div class="col-11">
						<div class="row" >
							<div class="col-5"></div>
							<div class="col-3" th:insert="fragments/aktuelleteamanzeige :: aktuelleteamanzeige"></div>
						</div>
					</div>
					<div class="col-11 main">
						<hr>
						<h4>Sekretariat</h4>
						<div class="alert alert-success" th:if="${successMessage}">
			  				<strong><p th:utext="${successMessage}"></p></strong>
						</div>
						<div class="alert alert-danger" th:if="${errorMessage}">
				  			<strong><p th:utext="${errorMessage}"></p></strong>
						</div>
						<div class="row" th:if="${alleUngelesenenBenachrichtigungenDesAktuellenUsers.size() > 0}">
							<div class="col-2"></div>
							<div class="col-6 border shadow-lg">
								<div class="gesamte-nachricht" >
									<div class="col">
										<div class="row align-middle">
											<div class="col-9 absender-nachricht-nachrichttyp">
												<a class="align-middle" th:href="@{/team/}+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].absender.id}" th:text="${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].absender.name}"></a>
												<span class="align-middle" th:text="'Liga: '+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].absender.liga.ligaNameTyp.name}"></span>
												<span class="align-middle" th:text="'um: '+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].uhrzeit}"></span>
												<span class="align-middle" th:text="'am: '+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].spieltag.spieltagNummer}+' Spieltag'"></span>
											</div>
											<div class="col-3 text-center">
												<div class="row">
												
													<div class="col">
														<form method="POST" th:action="@{/benachrichtigung/}+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].id}+'/naechste'">
															<span class="align-top">
																<button type="submit" name="submit" value="value"class="nachrichten-button btn btn-link">N&auml;chste &gt;&gt;</button>
															</span>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="row">
											<div class="col">
												<strong><span th:text="${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].benachrichtungsTyp.bezeichnung}"></span></strong>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="row">
											<div class="col nachricht">
												<p th:text="${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].benachrichtigungsText}"></p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-5 text-right" th:if="${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].antwortTyp == antwortTypAnnehmen}">
											<form method="POST" th:action="@{/benachrichtigung/}+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].id}+'/annehmen'">
												<button type="submit" name="submit" value="value"class="nachrichten-button btn btn-link">Annehmen</button>
											</form>
										</div>
										<div class="col-3 text-center" th:if="${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].antwortTyp == antwortTypAnnehmen}">
											<form method="POST" th:action="@{/benachrichtigung/}+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].id}+'/ablehnen'">
												<div class="col">
													<button type="submit" name="submit" value="value"class="nachrichten-button btn btn-link">Ablehnen</button>
												</div>
											</form>
										</div>
										<div class="col-3 text-center" th:if="${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].antwortTyp == antwortTypZuWenig}">
											<form method="POST" th:action="@{/benachrichtigung/}+${alleUngelesenenBenachrichtigungenDesAktuellenUsers[0].id}+'/ablehnen'">
												<div class="col">
													<button type="submit" name="submit" value="value"class="nachrichten-button btn btn-link">Ablehnen</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col neues-team-button">
								<form method="POST" th:action="@{/team/neu}">
									<button type="submit" name="submit" value="value"
										class="btn btn-success btn-sm button-toggle">
										<span aria-hidden="true">Neues Team erstellen</span>
									</button>
								</form>
							</div>
						</div>
						<table class="table table-hover table-bordered">
							<thead>
								<tr class="table-active">
									<th scope="col">Id</th>
									<th scope="col">Name</th>
									<th scope="col">Liga</th>
									<th scope="col">Geld</th>
									<th scope="col"></th>
								</tr>
							</thead>
			
							<tr class="" th:each="team : ${alleTeamsDesAktuellenUsers}">
								<td th:text="${team.id}" />
								<td> 
									<a class="" th:text="${team.name}" th:href="@{/team/}+${team.id}"></a>
								</td>
								<td th:text="${team.liga.ligaNameTyp.getName()}" />
								<td th:text="${team.bilanz.saldo}" />
								<td>
									<form method="POST" th:action="@{/team/}+${team.id}+'/loeschen'">
										<button type="submit" name="submit" value="value"
											class="btn btn-danger btn-sm button-toggle">
											<span aria-hidden="true">L&#246;schen</span>
										</button>
									</form>
								</td>
							</tr>
						</table>
						<div class="text-center">
							<a class="" th:href="@{/teams/umbenennen}">Teams umbenennen</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts"></th:block>
	<script>
	</script>
</body>
</html>