<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head" />
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h2 th:text="Teamname"></h2>
	</div>
	<div class="container" id="containerBody">
		<div class="alert alert-success" th:if="${successMessage}">
  			<strong><p th:utext="${successMessage}"></p></strong>
		</div>
		<div class="alert alert-danger" th:if="${errorMessage}">
  			<strong><p th:utext="${errorMessage}"></p></strong>
		</div>
		<div class="col-md-12">
		<p>Formation:</p>
			<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/formation'" th:object="${aktuellesTeam}"
					method="post">
				<select class="custom-select" th:field="*{formationsTyp}" onchange="this.form.submit();">
					<option 
						  th:each="formationsTyp : ${alleFormationsTypen}" 
						  th:text="${formationsTyp.bezeichnung}"
						  th:value="${formationsTyp}">
					</option>
				</select>
			</form>
		<p>Einsatz:</p>
			<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/einsatz'" th:object="${aktuellesTeam}"
					method="post">
				<select class="custom-select" th:field="*{einsatzTyp}" onchange="this.form.submit();">
					<option 
						  th:each="einsatzTypen : ${alleEinsatzTypen}" 
						  th:text="${einsatzTypen.bezeichnung}"
						  th:value="${einsatzTypen}">
					</option>
				</select>
			</form>
			<p>Ausrichtung:</p>
			<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/ausrichtung'" th:object="${aktuellesTeam}"
					method="post">
				<select class="custom-select" th:field="*{ausrichtungsTyp}" onchange="this.form.submit();">
					<option 
						  th:each="ausrichtungsTyp : ${alleAusrichtungsTypen}" 
						  th:text="${ausrichtungsTyp.bezeichnung}"
						  th:value="${ausrichtungsTyp}">
					</option>
				</select>
			</form>
			<table class="table table-hover table-condensed" style="border-collapse:collapse;">
				<thead>
					<tr class="table-active">
						<th scope="col">Nationalit&auml;t</th>
						<th scope="col">Position</th>
						<th scope="col">Aufstellungsposition</th>
						<th scope="col">Name</th>
						<th scope="col">St&auml;rke</th>
						<th scope="col">Reinst&auml;rke</th>
						<th scope="col">Erfahrung</th>
						<th scope="col">Talentwert</th>
						<th scope="col">Motivation</th>
					</tr>
				</thead>
				<tbody th:each="spieler : ${alleSpielerDesAktuellenTeams}">
					<tr data-toggle="collapse" th:attr="data-target='#'+${spieler.id}" class="accordion-toggle" >
						<td th:text="${spieler.nationalitaet.getLandNameTyp().getName()}" />
						<td th:text="${spieler.position}" />
						<td th:text="${spieler.aufstellungsPositionsTyp}" />
						<td> 
							<a class="" th:text="${spieler.name}" th:href="@{/spieler/}+${spieler.id}"></a>
						</td>
						<td th:text="${spieler.staerke.durchschnittsStaerke}" />
						<td th:text="${spieler.reinStaerke.durchschnittsStaerke}" />
						<td th:text="${spieler.erfahrung}" />
						<td th:text="${spieler.talentwert}" />
						<td th:text="${spieler.motivation}" />
					</tr>
					<tr class="collapse" th:id="${spieler.id}">
		           		<td class="hiddenRow">
		           			<div class="accordian-body">
		           				<p>Geschwindigkeit:</p>
		           				<p>Schuss:</p>
		           				<p>Passen:</p>
		           				<p>Dribbeln:</p>
		           				<p>Verteidigung:</p>
		           				<p>Physis:</p>
		           			</div>
		           		</td>
		           		<td class="hiddenRow">
		           			<div class="accordian-body">
		           				<p th:text="${spieler.reinStaerke.geschwindigkeit}"></p>
		           				<p th:text="${spieler.reinStaerke.schiessen}"></p>
		           				<p th:text="${spieler.reinStaerke.passen}"></p>
		           				<p th:text="${spieler.reinStaerke.dribbeln}"></p>
		           				<p th:text="${spieler.reinStaerke.verteidigen}"></p>
		           				<p th:text="${spieler.reinStaerke.physis}"></p>
		           			</div>
		           		</td>
		       		</tr>
		       	</tbody>
			</table>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts">
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"></script>
		<script src="https://raw.githubusercontent.com/SteveSanderson/knockout.mapping/master/build/output/knockout.mapping-latest.debug.js"></script>
	</th:block>
</body>
</html>