<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head">
	<link rel="stylesheet" href="/spielliste.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h2 th:text="Teamname"></h2>
	</div>
	<div class="container" id="containerBody">
		<div class="alert alert-success" th:if="${successMessage}">
  			<strong><p th:utext="${successMessage}"></p></strong>
		</div>
		<div class="alert alert-danger" th:if="${errorMessage}">
  			<strong><p th:utext="${errorMessage}"></p></strong>
		</div>
		<div class="col-md-12">
			<div th:if="${spielstatusHelper.getAktuellenSpielstatus() == ''}">
				<p>Formation:</p>
				<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/formation'" th:object="${aktuellesTeam}"
						method="post">
					<select class="custom-select" th:field="*{formationsTyp}" onchange="this.form.submit();">
						<option 
							  th:each="formationsTyp : ${alleFormationsTypen}" 
							  th:text="${formationsTyp.bezeichnung}"
							  th:value="${formationsTyp}">
						</option>
					</select>
				</form>				
			</div>
			<p>Einsatz:</p>
			<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/einsatz'" th:object="${aktuellesTeam}"
					method="post">
				<select class="custom-select" th:field="*{einsatzTyp}" onchange="this.form.submit();">
					<option 
						  th:each="einsatzTypen : ${alleEinsatzTypen}" 
						  th:text="${einsatzTypen.bezeichnung}"
						  th:value="${einsatzTypen}">
					</option>
				</select>
			</form>
			<p>Ausrichtung:</p>
			<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/ausrichtung'" th:object="${aktuellesTeam}"
					method="post">
				<select class="custom-select" th:field="*{ausrichtungsTyp}" onchange="this.form.submit();">
					<option 
						  th:each="ausrichtungsTyp : ${alleAusrichtungsTypen}" 
						  th:text="${ausrichtungsTyp.bezeichnung}"
						  th:value="${ausrichtungsTyp}">
					</option>
				</select>
			</form>
			<div th:if="${anzahlDerEinwechslungen} &gt; 0">
				<div th:if="${spielstatusHelper.getAktuellenSpielstatus() != ''}">
					<p>Auswechslung:</p>
					<p th:text="${anzahlDerEinwechslungen}"></p>
					<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/einwechseln'" th:object="${einzuwechselnderSpieler}"
							method="post">
						<select class="custom-select" th:field="*{id}">
							<option
								  th:each="spieler : ${alleSpielerAufErsatzbank}" 
								  th:text="${spieler.position.positionsName}+' | '+${spieler.name}"
								  th:value="${spieler.id}">
							</option>
						</select>
						<select class="custom-select" th:field="*{aufstellungsPositionsTyp}">
							<option 
								  th:each="aufstellungsPositionsTyp : ${alleAufstellungsPositionsTypen}" 
								  th:text="${aufstellungsPositionsTyp.positionsName}"
								  th:value="${aufstellungsPositionsTyp}">
							</option>
						</select>
							<button type="submit" value="submit" class="btn btn-sm btn-primary">Submit</button>
					</form>
				</div>
			</div>
			<table class="table table-hover table-condensed" style="border-collapse:collapse;">
				<thead>
					<tr class="table-active">
						<th scope="col">Nationalit&auml;t</th>
						<th scope="col">Position</th>
						<th scope="col">Aufstellungsposition</th>
						<th scope="col">Name</th>
						<th scope="col">Alter</th>
						<th scope="col">St&auml;rke</th>
						<th scope="col">Reinst&auml;rke</th>
						<th scope="col">Zuwachs</th>
						<th scope="col">Erfahrung</th>
						<th scope="col">Motivation</th>
					</tr>
				</thead>
				<tbody th:each="spieler : ${alleSpielerDesAktuellenTeams}">
					<tr>
						<td th:text="${spieler.nationalitaet.getLandNameTyp().getName()}" />
						<td th:text="${spieler.position}" />
						<td th:text="${spieler.aufstellungsPositionsTyp}" />
						<td> 
							<a th:text="${spieler.name}" th:id="${spieler.id}" onClick="openWindowInNewWindow(this.id)"
								href="#"></a>
						</td>
						<td th:text="${spieler.alter}" />
						<td th:text="${zahlenFormat.format(spieler.staerke.durchschnittsStaerke)}" />
						<td th:text="${zahlenFormat.format(spieler.reinStaerke.durchschnittsStaerke)}" />
						<td th:if="${spieler.spielerZuwaechse.size()} == 0">+0,0</td>
						<td th:unless="${spieler.spielerZuwaechse.size()} == 0" 
							th:text="${spieler.spielerZuwaechse.get(spieler.spielerZuwaechse.size()-1).zuwachs} > 0 ?
							'+'+${zahlenFormat.format(spieler.spielerZuwaechse.get(spieler.spielerZuwaechse.size()-1).zuwachs)} : 
							${zahlenFormat.format(spieler.spielerZuwaechse.get(spieler.spielerZuwaechse.size()-1).zuwachs)}" />
						<td th:text="${spieler.erfahrung}" />
						<td th:text="${spieler.motivation}" />
					</tr>
		       	</tbody>
			</table>
		</div>
		<div>
			<a class="" th:href="@{/team/}+${aktuellesTeam.id}+'/spieler/umbenennen'">Spieler umbenennen</a>
		</div>
	</div>
	<th:block>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
		<script src = "http://rvera.github.io/image-picker/image-picker/image-picker.min.js" type = "text/javascript"></script>
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"></script>
		<script src="https://raw.githubusercontent.com/SteveSanderson/knockout.mapping/master/build/output/knockout.mapping-latest.debug.js"></script>
		<script>
			function openWindowInNewWindow(id) {
				var spielerId = id
				window.open('../spieler/' + spielerId,'spieler','resizable,height=700,width=700'); 
				return false;
			}
		</script>
	</th:block>
</body>
</html>