<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head">
	<link rel="stylesheet" href="/spielliste.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h2 th:text="Teamname"></h2>
	</div>
	<div class="container" id="containerBody">
		<div class="alert alert-success" th:if="${successMessage}">
  			<strong><p th:utext="${successMessage}"></p></strong>
		</div>
		<div class="alert alert-danger" th:if="${errorMessage}">
  			<strong><p th:utext="${errorMessage}"></p></strong>
		</div>
		<div class="col-md-12">
			<div>
				<form method="POST" th:action="@{/transfermarkt/}" th:object="${spielerSucheFormular}">
					<label>Position:</label>
					<select class="custom-select" th:field="*{position}">
						<option th:value="${null}"  th:text="Alle"></option>
						<option
							  th:each="positionenTyp : ${positionenTypen}" 
							  th:text="${positionenTyp.positionsName}"
							  th:value="${positionenTyp}">
						</option>
					</select>
					<label>Land:</label>
					<select class="custom-select" th:field="*{land}">
						<option th:value="${null}" th:text="Alle"></option>
						<option
							  th:each="laenderNameTyp : ${laenderNamenTypen}" 
							  th:text="${laenderNameTyp.name}"
							  th:value="${laenderNameTyp}">
						</option>
					</select>
					<label>Alter:</label>
					<input class="form-control" type="text" th:field="*{minimalesAlter}"> - 
					<input class="form-control" type="text" th:field="*{maximalesAlter}">
					<label>St&auml;rke:</label>
					<input class="form-control" type="text" th:field="*{minimaleStaerke}"> - 
					<input class="form-control" type="text" th:field="*{maximaleStaerke}">
					<label>Preis:</label>
					<input class="form-control" type="text" th:field="*{minimalerPreis}"> - 
					<input class="form-control" type="text" th:field="*{maximalerPreis}">
					<button type="submit"
						name="submit" value="value"
						class="btn btn-sm btn-success button-toggle" th:text="Submit" >
					</button>
				</form>
			</div>
			<table class="table table-hover table-condensed" style="border-collapse:collapse;">
				<thead>
					<tr class="table-active">
						<th scope="col">Position</th>
						<th scope="col">Alter</th>
						<th scope="col">Name</th>
						<th scope="col">Reinst&auml;rke</th>
						<th scope="col">Preis</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody th:each="spieler : ${alleTransfermarktSpieler}">
					<tr>
						<td th:text="${spieler.position}" />
						<td th:text="${spieler.alter}" />
						<td> 
							<a th:text="${spieler.name}" th:id="${spieler.id}" onClick="openWindowInNewWindow(this.id)"
								href="#"></a>
						</td>
						<td th:text="${zahlenFormat.format(spieler.reinStaerke.durchschnittsStaerke)}" />
						<td th:text="${spieler.preis}" />
						<td>
							<form method="POST" th:action="@{/transfermarkt/}+${spieler.id}">
								<button type="submit"
									name="submit" value="value"
									class="btn btn-sm btn-success button-toggle" th:text="Kaufen" >
								</button>
							</form>
						</td>
						
					</tr>
		       	</tbody>
			</table>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts">
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"></script>
		<script src="https://raw.githubusercontent.com/SteveSanderson/knockout.mapping/master/build/output/knockout.mapping-latest.debug.js"></script>
	</th:block>
</body>
</html>