<html>
<head>
	<title>Fussballmanger-Game</title>
	<meta charset="utf-8"/>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/header.css" />
</head>
<body>
	<div th:fragment="sidebar" id="header2">
	    <div class="col-12 sidebar-fixed">
	        <div class="card card-body p-2">
	            <ul class="nav nav-pills flex-column">
	                <li class="nav-item">
	                    <a class="nav-link" href="/">Sekretariat</a>
	                </li>
	               	<li class="nav nav-pills flex-column">
						<a class="nav-link ml-3 my-1" href="/benachrichtigungen">Benachrichtigungen</a>
						<a class="nav-link ml-3 my-1" href="/statistik/1">Statistik</a>
						<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}+'/finanzen'">Finanzen</a>
						<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}+'/stadion'">Stadion</a>
	                 </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/team/}+${aktuellesTeam.id}">Kader</a>
	                </li>
	                <li class="nav nav-pills flex-column">
						<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}+'/kaderdetails'">Details</a>
				    	<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}">Aufstellung</a>
				    	<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}+'/training'">Training</a>
				    	<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}+'/trainingslager'">Trainingslager</a>
	                 </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/}+${aktuellesTeam.land.getLandNameTyp().getName()}+'/'+
						${aktuellesTeam.liga.ligaNameTyp.getName()}+'/'+${aktuelleSaison.saisonNummer}+'/'+${aktuellerSpieltag.spieltagNummer}">Tabelle</a>
	                </li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/team/}+${aktuellesTeam.id}+'/saison'">Saison</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" onClick="window.open('/liveticker','liveticker','resizable,height=600,width=900'); return false;"
						href="/liveticker" >Liveticker</a> 
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/transfermarkt/1">Transfermarkt</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/pokal">Pokal</a>
						<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}">National</a>
						<a class="nav-link ml-3 my-1" th:href="@{/team/}+${aktuellesTeam.id}">International</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/turniere/1">Turniere</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/freundschaftsspiele/}+${aktuellesTeam.land.getLandNameTyp().getName()}+'/'+
							${aktuellesTeam.liga.ligaNameTyp.getName()}">Freundschaftsspiele</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auktionshaus">Auktionshaus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/community">Community</a>
					</li>
	            </ul>
	        </div>
	        <div class="card card-body p-2">
	        	 <ul class="nav nav-pills flex-column">
	        	 	<li class="nav-item">
	        	 		<strong><span th:text="'Protage: '+${aktuellerUser.protage}"></span></strong>
	        	 	</li>
	        	</ul>
	        </div>
	    </div>
	</div>
</body>